.sec_1{
    padding: 5px;
    height: 110px;
    display: flex;
    padding-top: 20px;
    background:#f8f8f8;
}
.sec_1 img{
    width: 50px;
    height: 50px;
}
.sec_1 section{
    width: 25%;
    height: 110px;
}
.sec_1 section p{
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 700;
    font-family: '微软雅黑';
}
.sec_2{
    display: flex;
    height: 86px;
    padding: 5px 0;
    max-width: 640px;
}
.sec_2 div{
    width: 200px;
    height: 100%;
}
.sec_2 div img{
    width: 100%;
    height: 100%;
}
.sec_2left{
    margin-right: 5px;
}
.sec_3{
    font-weight: 700;
    color: #9f9f9f;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    background-color: #f8f8f8;
    margin-top: 5px;
}
.sec_4{
    width: 100%;
    background: #f8f8f8;
    padding-bottom: 55px;
    margin-bottom: 10px;

}
.sec_4 img{
    width: 100%;
}
.sec4bottom{
    width: 100%;
    height: auto;
}
.floatleft{
    float: left;
}
.floatright{
    float: right;
}
.sec4bottom_one{
    padding-top: 10px;
}
.sec4bottom_two{
    clear: both;
}
.one_left{
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-left: 10px;
}
.one_right{
    font-size: 15px;
    color: #bd1d21;
    font-weight: 700;
    margin-right: 10px;
}
.two_left{
    padding-top: 15px;
    font-size: 13px;
    color: #666666;
    font-weight: 700;
    margin-left: 20px;
}
.two_right{
    font-size: 12px;
    background: #ae2f2a;
    padding: 6px 20px;
    color: #fff !important;
    margin-right: 10px;
    margin-top: 6px;
}